- access_levels = local_assigns[:access_levels]
- default_access_level = local_assigns[:default_access_level]
- submit_url = local_assigns[:submit_url]
- group_link_field = local_assigns[:group_link_field]
- group_access_field = local_assigns[:group_access_field]
- groups_select_tag_data = local_assigns[:groups_select_tag_data]

.row
  .col-sm-12
    = form_tag submit_url, class: 'invite-group-form js-requires-input', method: :post do
      .form-group
        = label_tag group_link_field, _("Select a group to invite"), class: "label-bold"
        = groups_select_tag(group_link_field, data: groups_select_tag_data, class: 'input-clamp qa-group-select-field', required: true)
        .form-text.text-muted.gl-mb-3
          = _('Group sharing provides access to all group members (including members who inherited group membership from a parent group).')
      .form-group
        = label_tag group_access_field, _("Max access level"), class: "label-bold"
        .select-wrapper
          = select_tag group_access_field, options_for_select(access_levels, default_access_level), data: { qa_selector: 'group_access_field' }, class: "form-control select-control"
          = sprite_icon('chevron-down', css_class: "gl-icon gl-absolute gl-top-3 gl-right-3 gl-text-gray-200")
        .form-text.text-muted.gl-mb-3
          - permissions_docs_path = help_page_path('user/permissions')
          - link_start = %q{<a href="%{url}">}.html_safe % { url: permissions_docs_path }
          = _("%{link_start}Read more%{link_end} about role permissions").html_safe % { link_start: link_start, link_end: '</a>'.html_safe }
      .form-group
        = label_tag :expires_at, _('Access expiration date'), class: 'label-bold'
        .clearable-input
          = text_field_tag :expires_at, nil, class: 'form-control js-access-expiration-date-groups', placeholder: _('Expiration date'), id: 'expires_at_groups'
          = sprite_icon('close', size: 16, css_class: 'clear-icon js-clear-input gl-text-gray-200')
      = submit_tag _("Invite"), class: "gl-button btn btn-confirm gl-mr-3", data: { qa_selector: 'invite_group_button' }
